# Core functionality - changes here should be rare!
/src/app.py                   @vasan12sp
/src/backend/database.py      @vasan12sp
/src/backend/routers/auth.py  @vasan12sp

# The frontend will need refactored soon to be more object oriented.
/src/static/   @vasan12sp
